___
# Ciência dos Dados - PROJETO 2

___
## Beni Stern

## Leonardo Costa

## Gabriel Duarte

___

___

## 1. Problema

O Classificador Naive-Bayes, o qual se baseia no uso do teorema de Bayes, é largamente utilizado em filtros anti-spam de e-mails. O classificador permite calcular qual a probabilidade de uma mensagem ser SPAM considerando as palavras em seu conteúdo e, de forma complementar, permite calcular a probabilidade de uma mensagem ser HAM dada as palavras descritas na mensagem.

Para realizar o MVP (minimum viable product) do projeto, você precisa programar uma versão do classificador que "aprende" o que é uma mensagem SPAM considerando uma base de treinamento e comparar o desempenho dos resultados com uma base de testes.

___
## 2. Separação da base de dados em Treinamento e Teste

A base de dados deve ser separada em duas partes, aleatoriamente, considerando: 
    
    75% dos dados para a parte Treinamento; e
    25% dos dados para a parte Teste.

In [2]:
import pandas as pd
import os
import numpy as np

In [3]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Duarte\Downloads\INSPER aqui tbm\DADOS DP\Projeto2\Projeto-2-Filtro-Spam

In [4]:
dados = pd.read_excel("spamham2019.xlsx")

In [5]:
dados_aleatorio = dados.sample(frac=1)
dados_aleatorio = dados.sample(frac=1).reset_index(drop=True)
dados_treinamento = dados_aleatorio.loc[:4180:,:]
dados_teste = dados_aleatorio.loc[4180:,:]

In [6]:
dados_treinamento.head()

                                               Email Class
0                            Sac needs to carry on:)   ham
1  Hello darlin ive finished college now so txt m...   ham
2  Yar i wanted 2 scold u yest but late already.....   ham
3       Tiwary to rcb.battle between bang and kochi.   ham
4  What's up bruv, hope you had a great break. Do...   ham

In [7]:
dados_teste.head()

                                                  Email Class
4180  Uncle G, just checking up on you. Do have a re...   ham
4181                           Gibbs unsold.mike hussey   ham
4182                            Me fine..absolutly fine   ham
4183  When're you guys getting back? G said you were...   ham
4184  Well there's still a bit left if you guys want...   ham

___
## 3. Classificador Naive-Bayes

In [12]:
def Filtro(base):
    lista = []
    for e in base["Email"]:
        #lista_separada = e.split(" ")
        e.replace(",","")
        e.replace("/n", "")
        e.replace('""', "")
        e.replace("'", "")
        e.replace(":", "")
        e.replace(".", "")
        e.replace("...", "")
        e.replace(")", "")
        e.replace("(", "")
        e.replace("", "")

        lista.append(e)
    base2 = pd.DataFrame({"Email":lista,"Class":base["Class"]})  
    return base2

Filtro(dados).head()

  Class                                              Email
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [9]:
n_ham = dados_treinamento["Class"].value_counts()[0]
n_spam = dados_treinamento["Class"].value_counts()[1]
total = n_spam + n_ham

P_ham = n_ham/total
P_spam = n_spam/total

print("P(SPAM) = ", P_spam)
print("P(HAM)  = ", P_ham)

P(SPAM) =  0.13585266682611816
P(HAM)  =  0.8641473331738818

In [22]:
def p_word(date,nome):
    frase = date["Email"]
    palavras_em_lista = []
    
    for linha in frase:
        lista_palavras = linha.split(" ")
        
        for p in lista_palavras:
            palavras_em_lista.append(p)        
    
    total_palavras = len(palavras_em_lista)
    
    palavras = pd.DataFrame(palavras_em_lista)
    contagem = palavras[0].value_counts()
    tabela_contagem = pd.DataFrame(contagem)
    nome_tabela = 'P(word|{})'.format(nome)
    final = tabela_contagem.rename(index=str,columns={0: "Quantidade"})
    
    final[nome_tabela] = final["Quantidade"]/total_palavras
    
    return final

P_wordSpam = p_word(dados_treinamento[dados_treinamento.Class == "spam"],"Spam")
P_wordHam = p_word(dados_treinamento[dados_treinamento.Class == "ham"],"Ham")

P_wordSpam.head()

      Quantidade  P(word|Spam)
to           446      0.032896
a            276      0.020357
call         146      0.010769
your         142      0.010474
or           133      0.009810

In [28]:
P_wordSpam.index[]

Index(['to', 'a', 'call', 'your', 'or', '2', 'the', 'you', 'for', 'is',
       ...
       'WEEK', 'draws!', 'Uve', 'ofå£2000', '18+only.', '88877>FREE', 'T.',
       'xt', 'Bears', '1ER'],
      dtype='object', length=3765)

In [42]:
def Classificador(mensagem,data1,data2):
    lista_palavras = mensagem.split(" ")
    p_data1= []
    resu1 = p_data1[0]
    
    for pa in lista_palavras:
        p_msg_ham = data1.loc[pa][1]
        if
        pro.append(p_msg_ham)
    
    for p in p_data1:
        resul1 = resul1*p[+1]
        
    resultado = resu1
    
    return resultado

Classificador("your or call a",P_wordHam,P_wordSpam)

IndexError: list index out of range

___
## 4. Qualidade do Classificador alterando a base de treinamento